<div class="jumbotron">
    
<h1>About US</h1>
<p>ClassroomSidekick was created by a group of teachers looking for a way to help get the materials we needed for our classrooms.  We wanted a site where teachers can post requests for parents to make small contributions to their kid's classroom.  We couldn't find a site like that, so we created it!</p>

</div>